<div>
	<h6>Key: </h6><input type="" id="Key">
	<br>
	<h6>Secret: </h6><input type="" id="Secret">
	<br>
	<h6>Naziv: </h6><input type="" id="Naziv">
	<br>
	<h6>Branch: </h6><input type="" id="Branch">
	<br>
	<h6>Trenutna godina: </h6><input type="number" id="trenutnaGodina" max="2019">
	<br>
	<button onclick="Generisi.generisiToken()">Generisi listu</button>
</div>