*{box-sizing:border-box;}
body{
	background-image: url("pozadina.jpg");
}

#meni {
	background-color: #483D8B;
	padding-top:0.1%;
	padding-bottom:0.1%;
	opacity: .8;	
}

h6{
	font-family:calibri;
	color:#d5d5d5;
	font-weight:bold;
	font-size: 150%;
}

#unos{
	width: 60%;
}

button {
	background-color: #D8BFD8;
	padding:2%;
	border-radius:10px;
	border: 2px solid #483D8B;
	color: #483D8B;
}

div.logo{
	float:left;
	width:13%;
	height:5%;
	overflow:hidden;
}

#slika {
	width:100%;
	height:90%;
}

@media (max-width: 700px) {
		#meni ul {
	margin-left:10%;
	list-style: square;
	}

	#meni li{
		display: block;
		width:47%;
		text-align: center;
	}
}