*{box-sizing:border-box;}

h2{
	text-align:center;
	font-family:calibri;
	color:#d5d5d5;
	font-weight:bold;
}

#pButtoniRegS, #pButtoniRegP {
	width:110%;
	margin-left: -4%;
}


#buttonLogIn, #buttonRegP, #buttonRegS {
	width: 40%;
	font-weight: bold;
	font-size: 100%;
}

#pocetnaSadrzaj {
	margin-top:5%;
}


#login {
	float:left;
	background-color: #96858f;
	margin-left:6%;
	margin-top:2%;
	margin-bottom: 3%;
	padding-top:3.5%;
	padding-bottom:3%;
	padding-left:2%;
	padding-right:3%;
	font-family:calibri;
	border-radius:20px;
	width:30%;
	opacity: .8;	
}

#registracijaS, #registracijaP {
	background-color: #96858f;
	float:right;
	margin-right:5%;
	margin-top:2%;
	margin-bottom: 3%;
	padding-left:3.5%;
	padding-right:4%;
	padding-bottom:3.5%;
	padding-top:2%;
	font-family:calibri;
	border-radius:20px;
	opacity: .8;	
	width:35%;
}

input{
	width:70%;
}

#registracijaP {
	display: none;
}

#meni ul {
	list-style:none;
	margin-left:15%;
}


#meni li {	
	display: inline-block;
	font-size:120%;
	font-family:calibri;
	font-style:italic;
	background-color: #96858f;
	padding-left: 3.5%;
	padding-right: 3.5%;
	border-radius:10px;
	color: #d3d3d3;
	font-weight: bold;
}

button {
	background-color: #D8BFD8;
	padding:2%;
	border-radius:10px;
	border: 2px solid #483D8B;
	color: #483D8B;
}


#login p, .zaPopunjavanje{
	background-color: #D8BFD8;
	padding:5.5%;
	border-radius:20px;
	color: #483D8B;
}

#greskeS, #greskeP {
	color:red;
	background-color: yellow;
	padding:5.5%;
	font-size: 80%;
	font-weight: bold;
	border-radius:20px;
}

@media (max-width: 700px) {

	#login {
	background-color: #96858f;
	padding-top:3.5%;
	padding-bottom:3%;
	padding-left:5%;
	padding-right:4%;
	font-family:calibri;
	border-radius:20px;
	opacity: .8;	
	margin-left: 20%;
	width:65%;
	float:none;
}

	input {
		width: 70%;
	}
	#buttonLogIn, #buttonRegP, #buttonRegS {
		width: 60%;
		font-weight: bold;
		font-size: 70%;
	}


	#registracijaS, #registracijaP {
		background-color: #96858f;
		padding-left:5.5%;
		padding-right:4%;
		padding-bottom:3.5%;
		padding-top:2%;
		font-family:calibri;
		border-radius:20px;
		opacity: .8;
		width:65%;
		clear: both;
		margin-left: 20%;
		float:none;
	}

}