
		<div id="login">
			<h2>Login</h2>
			<p>Username:<br><input type="text" name="username" id="loginUsername"> </p>
			<p>Sifra:<br><input type="password" name="password" id="loginPass"> </p>
			<button id="buttonLogIn" onclick="prijavi()">Log in</button>
		</div>

		<div id="registracijaS">
				<h2>Registracija studenta</h2>
				<p class="zaPopunjavanje" id="pButtoniRegS">
					<button id="regProf" onclick="promijeniNaProfesora()">Registracija profesora</button>&nbsp;&nbsp;&nbsp;<button>Registracija studenta</button>
				</p>
				<p class="zaPopunjavanje">
					Ime i prezime:<br><input  type="text" onblur="Validacija.validirajImeiPrezime(this.value)" name="imeiprezime" id="imeiprezime">
				</p>
				<p class="zaPopunjavanje">
					Email:<br><input type="text" onblur="Validacija.validirajFakultetski(this.value)" name="email" id="email">
				</p>
				<p class="zaPopunjavanje">
					Indeks:<br><input type="text" onblur="Validacija.validirajIndeks(this.value)" name="indeks" id="indeks">
				</p>
				<p class="zaPopunjavanje">
					Grupa:&nbsp;&nbsp;
					<select name="odaberiGrupu" id="odaberiGrupu">
						<option value="g1">G1</option>
						<option value="g2">G2</option>
						<option value="g3">G3</option>
						<option value="g4">G4</option>
						<option value="g5">G5</option>
						<option value="g6">G6</option>
						<option value="g7">G7</option>
					</select>
				</p>
				<p class="zaPopunjavanje">
					Sifra:<br><input type="text" onblur="Validacija.validirajPassword(this.value)" id="passwordS" name="password">
				</p>
				<p class="zaPopunjavanje">
					Potvrda:<br><input type="text" onblur="Validacija.validirajPotvrdu(this.value, passwordS.value)" name="passwordPotvrda" id="passwordPotvrdaS">
				</p>
				<p class="zaPopunjavanje">
					Trenutna akademska godina:<br><input type="text" onblur="Validacija.validirajAkGodinu(this.value)" name="akgodina" id="akgodina">
				</p>
				<p class="zaPopunjavanje">
					Bitbucket URL:<br><input type="text" onblur="Validacija.validirajBitbucketURL(this.value)" name="bburl" id="bburl">
				</p>
				<p class="zaPopunjavanje">
					Bitbucket SSH:<br><input type="text" onblur="Validacija.validirajBitbucketSSH(this.value)" name="bbssh" id="bbssh">
				</p>
				<p class="zaPopunjavanje">
					Naziv repozitorija:<br><input type="text" onblur="Validacija.validirajNazivRepozitorija(null, this.value)" name="repozitorij" id="repozitorij">
				</p>
				<button id="buttonRegS" onclick="dodajStudenta()">Registruj se</button>
			<p id="greskeS"></p>
		</div>

		<div id="registracijaP">
			<h2>Registracija profesora</h2>
			<p class="zaPopunjavanje" id="pButtoniRegP">
				<button>Registracija profesora</button>&nbsp;&nbsp;&nbsp;<button id="regStud" onclick="promijeniNaStudenta()">Registracija studenta</button>
			</p>
			<p class="zaPopunjavanje">
				Ime i prezime:<br><input type="text" name="imeiprezimeP" id="imeiprezimeP" onblur="Validacija.validirajImeiPrezime(this.value)" >
			</p>
			<p class="zaPopunjavanje">
				Korisnicko ime:<br><input type="text" id="kime" name="kime">
			</p>
			<p class="zaPopunjavanje">
				Email:<br><input type="text" onblur="Validacija.validirajFakultetski(this.value)" id="emailP" name="emailP">
			</p>
			<p class="zaPopunjavanje">
				Max broj grupa:<br><input type="text" onblur="Validacija.validirajGrupu(this.value)" name="maxbroj" id="maxbroj">
			</p>
			<p class="zaPopunjavanje">
				Sifra:<br><input type="text" onblur="Validacija.validirajPassword(this.value)" id="passwordP" name="passwordP">
			</p>
			<p class="zaPopunjavanje">
				Potvrda:<br><input type="text" onblur="Validacija.validirajPotvrdu(this.value, passwordP.value)" name="passwordPotvrdaP" id="passwordPotvrdaP">
			</p>
			<p class="zaPopunjavanje">
				Regex:<br><input type="text" id="regex" name="regex">
			</p>
			<p class="zaPopunjavanje">
				Trenutni semestar:&nbsp;&nbsp;
				<select id="semestar" onblur="Validacija.validirajAkGodinu(akgodinaP.value)">
					<option value="0">Zimski</option>
					<option value="1">Ljetni</option>
				</select>
			</p>
			<p class="zaPopunjavanje">
				Trenutna akademska godina:<br><input type="text" onblur="Validacija.validirajAkGodinu(this.value)" id="akgodinaP" name="akgodinaP">
			</p>
			<button id = "buttonRegP" onclick="dodajProfu()">Registruj se</button>
			<p id="greskeP"></p>
		</div>
