<div>
	<h6>Indeks: </h6><input type="number" id="indeks">
	<br>
	<h6>Spirala: </h6><input type="number" id="spirala" max=4>
	<br>
	<button onclick="Generisi.generisiIzvjestaj()">Generisi izvjestaj</button>
	<br>
	<button onclick="Generisi.generisiBodove()">Generisi bodove</button>
</div>