
		<div id="naslov">
			<h1>WT Code Reviews</h1>
		</div>
		<div id="statStudenta">
			<table id="tabela1red">
				<tr>
					<td>Statistika</td>
					<td>Ime Prezime</td>
				</tr>
			</table>
		</div>
		<div>
		<div id="info">
			<p>Broj indeksa</p>
			<p><a href="https://bitbucket.org/belma_muftic/wtv201717260/overview">Link na repozitorij</a></p>
			<p>Prva parcijala</p>
			<p>Druga parcijala</p>
		</div>

		<div id="tabela">
			<table>
				<tr class="prvi">
					<td>X</td>
					<td>Spirala 1</td>
					<td>Spirala 2</td>
					<td>Spirala 3</td>
					<td>Spirala 4</td>
				</tr>
				<tr>
					<td id="stud1">Student 1</td>
					<td><a href="#">X1</a></td>
					<td><a href="#">X2</a></td>
					<td><a href="#">X3</a></td>
					<td><a href="#">X4</a></td>
				</tr>
				<tr>
					<td id="stud2">Student 2</td>
					<td><a href="#">X1</a></td>
					<td><a href="#">X2</a></td>
					<td><a href="#">X3</a></td>
					<td><a href="#">X4</a></td>
				</tr>
				<tr>
					<td id="stud3">Student 3</td>
					<td><a href="#">X1</a></td>
					<td><a href="#">X2</a></td>
					<td><a href="#">X3</a></td>
					<td><a href="#">X4</a></td>
				</tr>
				<tr>
					<td  id="stud4">Student 4</td>
					<td><a href="#">X1</a></td>
					<td><a href="#">X2</a></td>
					<td><a href="#">X3</a></td>
					<td><a href="#">X4</a></td>
				</tr>
				<tr>
					<td id="stud5">Student 5</td>
					<td><a href="#">X1</a></td>
					<td><a href="#">X2</a></td>
					<td><a href="#">X3</a></td>
					<td><a href="#">X4</a></td>
				</tr>
			</table>
		</div>
		</div>

		<div id="komentariNaslov">
			<h2>Komentari</h2>
		</div>

		<div id="komentariSpirala">
			<div id="brojSpirale">
				<h2>Spirala 1</h2>
			</div>
		
		<div id="komentari">
			<div id="kom1"><p id="svi1"><br><br>Komentar 1<br><br>&nbsp;</p></div>
			<div id="kom2"><p id="svi2"><br><br>Komentar 2<br><br>&nbsp;</p></div>
			<div id="kom3"><p id="svi3"><br><br>Komentar 3<br><br>&nbsp;</p></div>
			<div id="kom4"><p id="svi4"><br><br>Komentar 4<br><br>&nbsp;</p></div>
			<div id="kom5"><p id="svi5">Ovo je <br>komentar da <br>se vidi<br>da ima<br>SCROLL!<br></p></div>
		</div>
		</div>

		<div id="buttoniStranica">
			<div id="buttoni">
				<button type="button" id="Blijevo">&lt;&lt;</button>
				<button type="button" id="button1">1</button>
				<button type="button" id="button2">2</button>
				<button type="button" id="button3">3</button>
				<button type="button" id="button4">4</button>
				<button type="button" id="Bdesno">&gt;&gt;</button>
			</div>
		</div>
