*{box-sizing:border-box;}

h1, h2, tr{
	text-align:center;
	font-family:calibri;
	color:#d5d5d5;
	font-weight:bold;
	padding-top:1%;
}

h1 {
	font-size: 230%;
}

p {
	padding:1%;
	margin-left:2%;
	margin-right:2%;
}

#statistikaSadrzaj {
	margin-top:5%;
}


#naslov, #statStudenta, #info, #tabela,  #komentariNaslov, #buttoniStranica {
	background-color: #96858f;
	opacity: .9;	
	margin-right:15%;
	margin-top:3%;
	padding-left:2%;
	padding-right:2%;
	padding-top:0.2%;
	padding-bottom:0.2%;
	border-radius:4px;
}

#naslov, #statStudenta, #info, #tabela,  #komentariNaslov, #buttoniStranica{
	margin-left:15%;
}

#komentariSpirala {
	background-color: #96858f;
	opacity: .9;	
	margin-left:23%;
	margin-right:23%;
	padding-left:2%;
	padding-right:2%;
	padding-top:0.01%;
	margin-top: 0.8%;
	padding-bottom:0.2%;
	border-radius:4px;
}


#buttoniStranica {
	margin-top:1%;
	margin-bottom:3%;
	clear:both;
}

#info {
	float:left;
	width:25%;
	margin-top:0.5%;
	margin-right:-30%;
	margin-bottom:2%;
}

#buttoni {
	margin-left:30%;
	clear:both;
}
#tabela {
	width:40%;
	margin-top:3%;
	margin-left:45%;
}

#komentariNaslov {
	clear:both;
	margin-top:1.5%;
}

p{
	background-color: #D8BFD8;
	padding:5.5%;
	border-radius:20px;
	color: #483D8B;
}

table {
	padding-left:2%;
	padding-top:1%;
	padding-bottom:1%;
	padding-right:1%;
	width:90%;
	margin-left:5%;
	margin-right:5%;
	margin-top:1%;
	margin-bottom:1%;
	font-size: 85%;
}

.ime {
	text-align:right;
}

#meni ul {
	list-style:none;
	margin-left:15%;
}

#meni li {	
	display: inline-block;
	font-size:120%;
	font-family:calibri;
	font-style:italic;
	background-color: #96858f;
	padding-left: 3.5%;
	padding-right: 3.5%;
	border-radius:10px;
	color: #d3d3d3;
	font-weight: bold;
}

.prvi, #stud1, #stud2, #stud3, #stud4, #stud5 {
	background-color:#483D8B;
}

#tabela1red{
	font-size:160%;
}



#brojSpirale h2 {
	border-bottom: 2px solid #483D8B;
	border-left: 2px solid #483D8B;
	border-right: 2px solid #483D8B;
	margin-left:20%;
	margin-right:20%;
	margin-top:2%;
	margin-bottom:1%;
}

#komentari {
	margin-top:4%;
	clear:both;
	background-color: #96858f;
}

#kom1, #kom2, #kom3 {
	width:30%;
	float: left;
}

#kom4, #kom5 {
	width:40%;
	float:left;
}

#svi1, #svi2, #svi3, #svi4, #svi5{
	overflow-y: auto;
	height: 80px;
}



#Blijevo, #Bdesno, #button1,#button2,#button3,#button4 {
	background-color: #D8BFD8;
	padding:0.5%;
	border-radius:10px;
	border: 2px solid #483D8B;
	color: #483D8B;
	font-size:120%;
	width:10%;
}



@media (max-width: 700px) {

	#info {
	float:none;
	width:70%;
	margin-top:0.5%;
	margin-right:-30%;
	margin-bottom:2%;
}

#kom1, #kom2, #kom3, #kom4, #kom5 {
	float:none;
	width:100%;
}

#tabela {
	float:none;
	width:70%;
	margin-top:5%;
	margin-left: 15%;
}

}
