<div>
	<h6>Spisak: </h6><textarea id="unos"></textarea>
	<br>
	<h6>Spirala: </h6><input type="number" id="spirala" max="4">
	<br>
	<button type="button" onclick="KreirajFajl.kreirajSpisak()">Posalji</button>
</div>