*{box-sizing:border-box;}

#komentariSadrzaj {
	margin-top:5%;
}

#TU1, #TU2, #TU3, #TU4, #TU5, #TD1, #TD2, #TD3, #TD4, #TD5 {
	line-height: auto;
	width:30px;
	height:30px;
}

#dugmadi, #tabelaSpirala {
	background-color: #96858f;
	opacity: .9;	
	padding-left:2%;
	margin:auto;
	position: relative;
	padding-right:2%;
	padding-top:1.2%;
	padding-bottom:0.2%;
	border-radius:4px;
}

#dugmadi{
	width:70%;
}

#tabelaSpirala {
	width:90%;
}

td {
	width:20%;
	line-height:200%;
	
	text-align:center;
	font-family:calibri;
	color:#d5d5d5;
	font-weight:bold;
	padding-top:1%;
}

select {
	margin-left:20%;
}

#dugmadi {
	margin-top:1%;
	margin-bottom:3%;
}

#dugmadi ul{
	list-style: none;
}

#dugmadi li {	
	display: inline-block;
	width: 10%;
	margin-left: 10%;
}

table {
	padding-left:2%;
	padding-top:1%;
	padding-bottom:1%;
	padding-right:1%;
	width:90%;
	border-collapse: collapse;
	margin-left:1%;
	margin-right:1%;
	margin-top:1%;
	margin-bottom:1%;
}

table, td {
	border:1px solid black;
}



#tabela1red{
	font-size:140%;
	text-align:center;
	font-family:calibri;
	color:#d5d5d5;
	font-weight:bold;
	padding-top:1%;
	background-color:#483D8B;
}


#komentari {
	margin-top:4%;
}

#BStudent1, #BStudent2,#BStudent3,#BStudent4 {
	background-color: #D8BFD8;
	padding:0.5%;
	border-radius:10px;
	border: 2px solid #483D8B;
	color: #483D8B;
	font-size:120%;
	width:180%;
	margin-left:5%;
}



#meni ul {
	list-style:none;
	margin-left:15%;
}

#meni li {	
	display: inline-block;
	font-size:120%;
	font-family:calibri;
	font-style:italic;
	background-color: #96858f;
	padding-left: 3.5%;
	padding-right: 3.5%;
	border-radius:10px;
	color: #d3d3d3;
	font-weight: bold;
}

#actualTabela {
	padding-left:2%;
	padding-top:1%;
	padding-bottom:1%;
	padding-right:1%;
	width:90%;
	margin-left:1%;
	margin-right:1%;
	margin-top:1%;
	margin-bottom:1%;
}



@media (max-width: 700px) {

	table {
	padding-left:2%;
	padding-top:1%;
	padding-bottom:1%;
	padding-right:1%;
	width:100%;
	margin-left: 0;

}

#tabelaSpirala{
	width:100%;
	margin:0;
}

#BStudent1, #BStudent2,#BStudent3,#BStudent4 {
	font-size:80%;
	width: 150%;
	margin-left: 5%;
}



#tabela1red{
	font-size:100%;
	text-align:center;
	font-family:calibri;
	color:#d5d5d5;
	font-weight:bold;
	padding-top:1%;
	background-color:#483D8B;
}

td {
	width: 50%;
}

input {
	width:70%;
}

table {
	font-size: 80%;
}

#dugmadi li {
	display: block;
	width: 30%;
	margin-left: -5%;
}

}
