
		<div id="dugmadi">
			<ul>
				<li><button type="button" id="BStudent1">Student 1</button></li>
				<li><button type="button" id="BStudent2">Student 2</button></li>
				<li><button type="button" id="BStudent3">Student 3</button></li>
				<li><button type="button" id="BStudent4">Student 4</button></li>
				<br>
				<h6>Spirala: </h6><input type="number" id="brojSpirale" max="4">
				<br>
				<h6>Indeks: </h6><input type="text" id="index">
			</ul>
		</div>
		<div id="tabelaSpirala">
			<table id="actualTabela">
				<tr id="tabela1red">
					<td>Student</td>
					<td>Sifra</td>
					<td>Link</td>
					<td>Komentar</td>
					<td>&nbsp;Like&nbsp;</td>
				</tr>

				<tr>
					<td>S1</td>
					<td>
						<p id="sifra1">A</p>
					</td>
					<td>
						<input type="text" id="link1">
					</td>
					<td><input type="text" name="komS1" id="komS1"></td>
					<td>
						<button id="TU1" onclick="zamijeniIznad(1)"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
						<button id="TD1" onclick="zamijeniIspod(1)"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>
					</td>
				</tr>

				<tr>
					<td>S2</td>
					<td>
						<p id="sifra2">B</p>
					</td>
					<td>
						<input type="text" id="link2">
					</td>
					<td><input type="text" id="komS2" name="komS2"></td>
					<td>
						<button id="TU2" onclick="zamijeniIznad(2)"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
						<button id="TD2" onclick="zamijeniIspod(2)"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>
					</td>
				</tr>

				<tr>
					<td>S3</td>
					<td>
						<p id="sifra3">C</p>
					</td>
					<td>
						<input type="text" id="link3">
					</td>
					<td><input type="text" id="komS3" name="komS3"></td>
					<td>
						<button id="TU3" onclick="zamijeniIznad(3)"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
						<button id="TD3" onclick="zamijeniIspod(3)"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>
					</td>
				</tr>

				<tr>
					<td>S4</td>
					<td>
						<p id="sifra4">D</p>
					</td>
					<td>
						<input type="text" id="link4">
					</td>
					<td><input type="text" id="komS4" name="komS4"></td>
					<td>
						<button id="TU4" onclick="zamijeniIznad(4)"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
						<button id="TD4" onclick="zamijeniIspod(4)"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>
					</td>
				</tr>

				<tr>
					<td>S5</td>
					<td>
						<p id="sifra5">E</p>
					</td>
					<td>
						<input type="text" id="link5">
					</td>
					<td><input type="text" id="komS5" name="komS5"></td>
					<td>
						<button id="TU5" onclick="zamijeniIznad(5)"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
						<button id="TD5" onclick="zamijeniIspod(5)"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>
					</td>
				</tr>
			</table>
		</div>
		<div>
			<button onclick="Generisi.generisiKomentar()">Posalji</button>
		</div>
